body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EDEDED;
}

.navbar {
    background-color: #231903;
}

h4 a {
    color: #231903;
}

h4 a:hover {
    color: lightblue;
}

.card {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}

.card a {
    gap: 5px;
    color: black;
}
.card-header {
    background-color: rgb(35, 25, 3);
    color: #fff;
    align-content: center;
    height: 80px
}

.card-img-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 250px;
    object-fit: scale-down;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    background-color: #00C6A6;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #231903;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info p {
    margin: 5px 0;
}

.footer-social-media {
    margin-top: 10px;
}

.footer-link {
    text-decoration: none;
    color: #fff;
}

.footer-info a:hover {
    text-decoration: underline;
    color: #ddd;
}

.social-icon {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}

.social-icon:hover {
    color: #ddd;
}
